header {

    height: 500px;

    button {
        background: $primaryBtn;
        
        &:hover {
            background: white;
        }
    }
}

h1 {
    text-align: center;
    line-height: 100px;
}